<% provide(:title, 'Fellowshippers') %>


<div id="lft" class="box">

    </div>




<div id="middle" class="box">

     <h2>Fellowshippers</h2>

  <%= will_paginate %>

	<ul class="users">
  		<%= render @users %>
	</ul>

  <%= will_paginate %>
</div>


<div id="lft" class="box">

    
 </div>
