<% provide(:title, 'Contact') %>

<div id="ct_lft" class="box">
               
</div>

<div id="ct_middle" class="box">

<h3>Contact</h3>

  <p>Not yet, but soon</p>

</div>



<div id="ct_rght" class="box">

<br /><p></p>


<br /><p></p>

  

</div>

</div>

</div>	
</div>
