<% provide(:title, 'Contact') %>

<div id="ct_lft" class="box">
               
</div>

<div id="ct_middle" class="box">

<h3>Contact</h3>

  <p>Site comments and feedback may be directed <a href="mailto:lsc@hackeress.com">the developer of this website here</a>.</p>

</div>



<div id="ct_rght" class="box">

<br /><p></p>


<br /><p></p>

  

</div>

</div>

</div>	
</div>
