<% provide(:title, 'Donate') %>

<div id="ct_lft" class="box">

               
</div>

<div id="ct_middle" class="box">

<h3>Keep'n it Alive!</h3>

   <p>To offset the costs of this site, donations are accepted.  Donor options coming soon!</p>

</div>



<div id="ct_rght" class="box">

<br /><p></p>


<br /><p></p>

  

</div>

</div>

</div>	
</div>
