<% provide(:title, 'Mission') %>

<div id="ct_lft" class="box">


</div>

<div id="ct_middle" class="box">

<h3>Mission</h3>

   <p>A mission?  But of course! </p>

   <p>OHinAA has a simple mission:  to share words of experience, strength, hope, inspiration, wisdom and humor among members of Alcoholics Anonymous.</p>
   

</div>



<div id="ct_rght" class="box">

<h3>Quote</h3>
   <p> </p>
               
  

</div>

</div>

</div>	
</div>