<% provide(:title, 'Mission') %>

<div id="ct_lft" class="box">


</div>

<div id="ct_middle" class="box">

<h3>Mission</h3>

   <p>A website with mission statement?  But of course! </p>

   <p>OHinAA's mission is simple and threefold: </p>  
    <p> (1) to share words of experience, strength, hope, inspiration, wisdom and humor among members of Alcoholics Anonymous  </p>
    <p> (2) to provide a safe place where people can "learn" about AA / NA via the words of our members.  AA is based on "attraction, rather than promotion," and we are hopeful that the words read here can motivate people to get to meetings! </p> 
    <p> (3) to protect and respect each member's anonymity at whatever level they wish to be anonymous; for this reason the stream is available via login only </p>
</div>



<div id="ct_rght" class="box">

   <p> </p>
               
  

</div>

</div>

</div>	
</div>
