<% provide(:title, 'Anonymity') %>


<div id="ct_lft" class="box">

</div>

<div id="ct_middle" class="box">

<h3>Anonymity &amp; Privacy</h3>

   <p> It should go without saying, but just so we're clear:  anonymity is the rule.  Overheard something awesome?  Post it, but please respect the anonymity of the member and leave off any personally-identifiable information.  Even "permissible" attributions should follow the format of <em>The Grapevine</em> and be (at most) first name only.</p>

   <p>Alas, there are some members of the fellowship who don't hide from the world.  But precisely how 'open' one chooses to be about the matter is up to the individual.</p>

   <p><em>The difference between Illness and Wellness?  Illness begins with "I", and Wellness begins with "We".</em></p>

   <p><em>When I admit that I am an alcoholic, I'm acknowledging my powerlessness over alcohol, which makes the world a dangerous and lonley place.  But when I admit that I am a member of AA, the world doesn't seem quite as lonely.</em></p>

</div>



<div id="ct_rght" class="box">

<br /><p></p>


<br /><p></p>

  

</div>

</div>

</div>  
</div>