<% provide(:title, 'TOS') %>

<div id="ct_lft" class="box">


</div>

<div id="ct_middle" class="box">

<h3>TOS</h3>

   <p>By using this site you acknowledge and/or agree:</p>

   <p>(1) Any post at any time can be deleted, and any user may be banned for violation of these terms. </p>

   <p>(2) To keep it clean; and to refrain from ostensibly vulgar or hateful speech.</p>

   <p>(3) To never "out" another member of AA by posting personally identifiable information such as name, location, email address, etc.</p>

   <p>That's it!  Enjoy. </p> 


</div>



<div id="ct_rght" class="box">

<br /><p></p>


<br /><p></p>

  

</div>

</div>

</div>	
</div>
